// Variables
$bg-color: #F3F4F6;
$color-primary: #B01C2B;
$color-primary-invert: #FFF;
$color-grey-dark: #4D4D4D;
$color-white: #FFF;
$color-yellow-light: #fef6e2;

$font-normal: 'gotham-normal';
$font-bold: 'gotham-bold';
