.inter-small-bold {
  font-family: 'Inter', 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
  font-size: 12px !important;
}

.inter-small-normal {
  font-family: 'Inter', 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
}

.inter-medium_small-bold {
  font-family: 'Inter', 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.inter-medium_small-normal {
  font-family: 'Inter', 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.inter-normal_small-bold {
  font-family: 'Inter', 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
  font-size: 15px !important;
}

.inter-normal_small-normal {
  font-family: 'Inter', 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 15px !important;
}

.inter-normal-bold {
  font-family: 'Inter', 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.inter-normal-normal {
  font-family: 'Inter', 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.inter-medium-bold {
  font-family: 'Inter', 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px !important;
}

.inter-medium-normal {
  font-family: 'Inter', 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 18px !important;
}

.inter-large-bold {
  font-family: 'Inter', 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
  font-size: 22px !important;
}

.inter-large-normal {
  font-family: 'Inter', 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  font-size: 22px !important;
}

.font-title-display-XL {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 40px !important;
  line-height: 60px;
}

.font-title-xl-h1 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 32px !important;
  line-height: 48px;
}

.font-title-xl-h2 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 30px !important;
  line-height: 45px;
}

.font-title-xl-h3 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 30px;
}

.font-title-xl-h4 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 32px;
}

.font-title-l-h1 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 28px !important;
  line-height: 42px;
}

.font-title-l-h2 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 26px !important;
  line-height: 39px;
}

.font-title-m-h1 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 36px;
}

.font-title-m-h2 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  line-height: 33px;
}

.font-title-1 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 32px !important;
  line-height: 40px;
}

.font-title-2 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 28px !important;
  line-height: 36px;
}

.font-title-3 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 32px;
}

.font-title-4 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 28px;
}

.font-subtitle-1 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 26px;
}

.font-subtitle-2 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 24px;
}

.font-subtitle-sb-2 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 140%;
}

.font-subtitle-3 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px;
}

.font-subtitle-4 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 24px;
}

.font-subtitle-5 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 20px;
}

.font-subtitle-sb-3 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 140%;
}

.font-subtitle-sb-4 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 140%;
}

.font-subtitle-rg-4 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 140%;
}

.font-subtitle-sb-5 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 16px;
}

.font-subtitle-rg-5 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 16px;
}

.font-body-1 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 24px;
}

.font-body-2 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px;
}

.font-body-3 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px;
}

.font-body-4 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 20px;
}

.font-metadata-1 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 500 !important;
  font-size: 13px !important;
  line-height: 16px;
}

.font-metadata-2 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
  font-size: 11px !important;
  line-height: 16px;
}

.font-meta-11-sb {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 11px !important;
  line-height: 16.5px;
}

.font-meta-11-rg {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
  font-size: 11px !important;
  line-height: 15px;
}

.font-meta-10-rg {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
  font-size: 10px !important;
  line-height: 15px;
}

.font-label-xl-sb {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px;
}

.font-label-sm-rg {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 16px;
}

.font-label-sm-sb {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 16px;
}

.font-label-md-sb-lh16 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 16px;
}

.font-label-md-rg-lh16 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 16px;
}

.font-label-md-sb-lh24 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 24px;
}

.font-label-md-reg-lh24 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 24px;
}

.font-paragraph-4 {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 140%;
}
