.s-m-1 {
  margin: 2px;
}

.s-mt-1 {
  margin-top: 2px;
}

.s-mr-1 {
  margin-right: 2px;
}

.s-mb-1 {
  margin-bottom: 2px;
}

.s-ml-1 {
  margin-left: 2px;
}

.s-mx-1 {
  margin-left: 2px;
  margin-right: 2px;
}

.s-my-1 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.s-m-2 {
  margin: 4px;
}

.s-mt-2 {
  margin-top: 4px;
}

.s-mr-2 {
  margin-right: 4px;
}

.s-mb-2 {
  margin-bottom: 4px;
}

.s-ml-2 {
  margin-left: 4px;
}

.s-mx-2 {
  margin-left: 4px;
  margin-right: 4px;
}

.s-my-2 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.s-m-3 {
  margin: 8px;
}

.s-mt-3 {
  margin-top: 8px;
}

.s-mr-3 {
  margin-right: 8px;
}

.s-mb-3 {
  margin-bottom: 8px;
}

.s-ml-3 {
  margin-left: 8px;
}

.s-mx-3 {
  margin-left: 8px;
  margin-right: 8px;
}

.s-my-3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.s-m-4 {
  margin: 12px;
}

.s-mt-4 {
  margin-top: 12px;
}

.s-mr-4 {
  margin-right: 12px;
}

.s-mb-4 {
  margin-bottom: 12px;
}

.s-ml-4 {
  margin-left: 12px;
}

.s-mx-4 {
  margin-left: 12px;
  margin-right: 12px;
}

.s-my-4 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.s-m-5 {
  margin: 16px;
}

.s-mt-5 {
  margin-top: 16px;
}

.s-mr-5 {
  margin-right: 16px;
}

.s-mb-5 {
  margin-bottom: 16px;
}

.s-ml-5 {
  margin-left: 16px;
}

.s-mx-5 {
  margin-left: 16px;
  margin-right: 16px;
}

.s-my-5 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.s-mt-40 {
  margin-top: 40px;
}

.s-mt-50 {
  margin-top: 50px;
}

.s-mt-70 {
  margin-top: 70px;
}
